@using  MQKJ.BSMP.Alipay
@{
    Layout = null;
}
@model AliPayResultOutput
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>爸爸在哪儿-支付宝充值-支付结果</title>
    <environment names="Development,TestingQA">
        <link href="~/fonts/roboto/roboto.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/fonts/material-icons/materialicons.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/toastr/toastr.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/famfamfam-flags/dist/sprite/famfamfam-flags.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/Waves/dist/waves.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/animate.css/animate.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/materialize.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/themes/all-themes.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/view-resources/Views/Shared/_Layout.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link href="~/view-resources/Views/_Bundles/shared-layout.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="bg-deep-orange align-center m-t-10">
        <a href="/ChineseBabies/Alipay?familyId=@Context.Request.Query["familyId"]&playerId=@Context.Request.Query["playerId"]">
            <i class="fa fa-angle-left pull-left font-20 h4 m-l-10"></i>
        </a>
        <label class="h4">购买成功</label>
    </div>

    <div class=" m-t-20">
        <p class="align-center">
            <i class="fa fa-check-circle font-35 col-green"></i>
            <label class="font-25 p-l-10 ">订单支付成功！</label>
        </p>
        <div class="m-t-50">
            <p class="font-18 m-l-5 m-t-10 ">商品信息</p>
            <div class="font-16 col-grey bg-white p-l-10  p-b-10 p-t-10">
                <p class="">商品名称：金币</p>
                <p class="">
                    数&emsp;&emsp;量：<label class="col-black">@((Model.CoinRechargeRecord == null ? Model.GoldCoin : Model.CoinRechargeRecord.RechargeCount))</label>
                </p>
                <p class="">
                    奖励状态：
                    @((Model.CoinRechargeRecord == null ? "发放中" : "已发放"))
                </p>
            </div>
            <div class="m-t-50">
                <p class="align-center">
                    <a href="/ChineseBabies/Alipay?familyId=@Context.Request.Query["familyId"]&playerId=@Context.Request.Query["playerId"]" class="waves-effect btn-lg  btn btn-warning ">继续购买金币</a>
                </p>
            </div>
        </div>
    </div>
    <script src="~/view-resources/Views/_Bundles/shared-layout.min.js" asp-append-version="true"></script>
</body>
</html>
