@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    @RenderSection("styles", required: false)
}

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    @RenderSection("scripts", required: false)
}

    <div id="vueapp">
        @RenderBody()
    </div>
