@using MQKJ.BSMP.Web.Startup
@using MQKJ.BSMP;
@{
    ViewBag.CurrentPageName = PageNames.CardManage; // The menu item will be active for this page.
}

@section scripts{
    <script src="~/view-resources/Views/CardManage/index.js"></script>
    <script src="~/lib/laydate/laydate.js"></script>
}

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        名片管理
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>刷新</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="row clearfix" id="searchform">
                    <form role="form" novalidate class="form-validation">
                        <div class="col-sm-11">
                            <div class="form-group user-style">
                                <label style="margin:0px 15px 0px 15px;" for="starttime" class="form-label">从</label>
                                <input id="startTime" type="text" value="" name="starttime" readonly="readonly" class="form-inline">
                                <label style="margin:0px 8px 0px 8px;" class="form-label">至</label>
                                <input id="endTime" type="text" value="" name="endtime" readonly="readonly" class="form-inline">
                                <button style="margin-left:20px;" type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float " id="searchBtn">
                                    <i class="material-icons">search</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="dataList" class="body table-responsive">
                    @Html.Partial("_List")
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="loveCardCreateModal" tabindex="-1" role="dialog" aria-labelledby="LoveCardCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    
                </h4>
            </div>
        </div>
    </div>
</div>
